/* src/pages/Home.css */

/* Special class for the secondary menu buttons */
.secondary-menu-button {
  height: 60px;
  transition: all 0.2s ease-out;
}

.secondary-menu-container {
  gap: 12px;
}

/* Compact Mode for smaller screens */
@media (max-height: 700px) {
  .secondary-menu-button {
    height: 50px;
  }

  .secondary-menu-container {
    gap: 8px;
  }
}
